<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ "/assets/css/highlight.css" | url}}">
    <link rel="stylesheet" href="{{ "/assets/fonts/KodeMono.css" | url}}">
    <link rel="stylesheet" href="{{ "/assets/fonts/JetBrains.css" | url}}">
    <link rel="stylesheet" href="{{ "/assets/css/main.css" | url}}">
    <link rel="stylesheet" href="{% getBundleFileUrl "css" %}">
    
    {% block head %}{% endblock %}
    {% if title %}
        <title>{{ title }} - {{ site.title }}</title>
    {% else %}
        <title>{{ site.title }}</title>
    {% endif %}
    {% include "./meta.njk" %}

    <link rel="shortcut icon" href="{{ "/assets/images/favicon.png" | url}}" type="image/png">
</head>
<body>
    <header>
        <a href="{{"/" | url}}" class="logo">
            {{ "/assets/images/logo.svg" | embedSVG | safe }}
            <h1>{{ site.title }}</h1>
        </a>
        <button id="menu-open" aria-label="Navmenu open" class="mobile-menu">[OPEN]</button>
        {% include "nav.njk" %}
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>

    <footer>
        <div class="social">
            {%- for s in site.footerLinks -%}
                <a no-transition href="{{ s.href }}" target="_blank">{{ s.name }}</a>
            {%- endfor -%}
        </div>
    </footer>

    <script src="{{ "/assets/js/main.js" | url}}"></script>
    <script src="{% getBundleFileUrl "js" %}"></script>
    <script defer src="{{ "/assets/js/lib/quicklink.umd.js" | url}}"></script>

    <script>
        window.addEventListener('load', () => {
            quicklink.listen();
        });
    </script>

    <svg style="visibility:hidden;" width="0" height="0">
        <defs>
            <filter id="transition" x="0%" y="0%" width="100%" height="100%">
                <feTurbulence id="noise" type="fractalNoise" baseFrequency="0.2 0" seed="0" result="NOISE" numOctaves="2"></feTurbulence>
                <feDisplacementMap id="displacement" in="SourceGraphic" in2="NOISE" scale="0" xChannelSelector="A" yChannelSelector="R"></feDisplacementMap>
            </filter>

            
            <filter id="image-filter" bx:pinned="true" primitiveUnits="objectBoundingBox">
                <feTurbulence result="turbulence-1" baseFrequency="0.8 0.1" type="fractalNoise"></feTurbulence>
                <feDisplacementMap result="displacement-map-0" in="SourceGraphic" in2="turbulence-1" scale="0.1" xChannelSelector="R" yChannelSelector="R"></feDisplacementMap>
            </filter>

        </defs>
    </svg>
    <script src="{{ "/assets/js/transitions.js" | url}}"></script>
</body>
</html>