<div> {% for post in collections.blog | reverse %} {% if not limit or loop.index <= limit %}
    <a href="{{ post.url }}" class="blogpost">
        <h3>{{ post.data.title }}</h3>
        <small>{{ post.date | date }}<span style="float:right;">{{ post.data.keywords }} | {{ post.url }}</span></small>
    </a><br> {% endif %} {% endfor %}
</div>
