<nav id="menu">
    <button aria-label="Navmenu close" id="menu-close" class="mobile-menu">[CLOSE]</button>
    <ul>
        {%- for p in collections.navItems -%}
            {% if p.data.nav %}
                <li>
                    <a href="{{ p.url }}" {%if p.url == page.url %}class="active"{%endif%}>{{ p.data.title }}</a>
                </li>
            {% endif %}
        {%- endfor -%}
        {%- for s in site.headerLinks -%}
            <li>
                <a no-transition target="_blank" href="{{ s.href }}">{{ s.name }}</a>
            </li>
        {%- endfor -%}
    </ul>
</nav>
