@import url("./theme.css");

body {
    background: var(--base);
    color: var(--text);
    margin: 0;
    padding: 0.2rem;
}

a {
    color: var(--text);
    padding: 0.2rem;
    border-radius: 0.1rem;
    text-decoration: none;
    position: relative;
    isolation: isolate;
}

a::after {
    content: "";
    background-color: var(--text);
    position: absolute;
    width: 100%;
    height: 0.2rem;
    bottom: 0;
    border-radius: 0.1rem 0.1rem;
    left: 0;
    z-index: -1;
}
a.active,
a:hover {
    color: var(--base);
    background-color: var(--text);
}

header {
    max-width: 80ch;
    height: 5rem;
    margin-inline: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header h1 {
    padding: 0;
    margin: 0;
}

nav ul {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: right;
    list-style: none;
    font-size: large;
    gap: 0.2rem;
}

header a::after {display: none;}


main {
    max-width: 70ch;
    margin-inline: auto;
}

code {
    background-color: var(--code);
    color: var(--code-text);
    padding: 0.2rem;
    border-radius: 0.1rem;
}
footer {
    max-width: 80ch;
    margin-inline: auto;
    margin-top: 4rem;
}
footer .social {
    margin-top: 1rem;
    max-width: fit-content;
    display: flex;
    gap: 0.2rem;
    margin-inline: auto;
    flex-wrap: wrap;
    justify-content: center;
}

.my-age {
    cursor:help;
}

@media screen and (max-width: 500px) {
    header h1 {
        font-size: medium;
    }
}

.mobile-menu {
    display: none;
}

@media screen and (max-width: 500px) {
    nav {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        box-sizing: border-box;
        background-color: var(--base);
        z-index: 10000;
        padding: 1.5rem 0.5rem;
        transform: scale(0%);
        filter: saturate(0) brightness(0);
        pointer-events: none;
        transition: transform steps(8) 200ms 300ms,filter steps(4) 200ms 0ms;
        overflow-y: auto;
    }
    .mobile-menu {
        display: block;
        background: none;
        color: var(--text);
        border: none;
        font-weight: bold;
        padding: 0.8rem;
    }
    
    nav.open {
        transform: scale(100%);
        pointer-events: all;
        filter: saturate(1) brightness(1);
        transition: transform steps(8) 200ms,filter steps(4) 200ms 300ms;
    }
    nav ul {
        flex-direction: column;
    }
    nav .mobile-menu {
        width: 100%;
        text-align: right;
        margin-bottom: 1rem;
    }
    nav ul a {
        display: block;
        padding: 0.5rem;
    }
}