html {
    --base: #151617;
    --base-2: #1d2123;
    --base-3: #2a3039;
    --text: #d2e7efff;
    --code: #1d2123;
    --code-text: #abd1de;
    font-family: "Kode Mono", monospace;
}
* {
    font-family: "Kode Mono", monospace;
}