@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

html {
    --base: #171715;
    --text: #efefd2;
    
    --code: #424237;
    --code-text: #efefd2;


    font-family: "JetBrains Mono", monospace;
}