{% extends "base.njk" %}

{% block header %}
<h1>{{ title }}</h1>
{% endblock %}

{% block content %}
  <h1>{{ title }}</h1>
  <div class="post-info">
    <small>{{ page.date | date }}</small>
  </div>
  <div>
    {{ content | safe }}
  </div>
{% endblock %}