{% extends "base.njk" %}

{% block header %}
<h1>{{ title | safe }}</h1>
{% endblock %}

{% block content %}
  <h1>{{ title }}</h1>
  <div>
    {{ content | safe }}
  </div>
	<hr>
	<div class="post-info">
		<small>{{ page.date | date }} | {{ keywords }}</small>
	</div>
{% endblock %}
